{% extends 'base.html' %}

{% block title %}Ludothèque{% endblock %}

{% block content %}

<div class="library-content container-fluid">

            <h5>Tous les jeux ({{ games_num }})</h5>

            {% for game in page_obj %}
                <div class="last-games-cards container-fluid">

                    <div class="last-game-card card" style="width: 50rem;">

                        <div class="card-header-game" id="{{ game.id }}">

                            <div class="last-library-image">
                                <img src="{{ game.image.url }}" class="img-fluid rounded-circle" alt="illustration jeu">
                            </div>
                            <p class="card-title">{{ game }}</p>
                        </div>

                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ game.description|linebreaks }}</li>
                                <li class="list-group-item">
                                    <p><span class="card-subtitle text-muted">Auteur : </span> {{ game.display_author }}</p>

                                    <p ><span class="card-subtitle text-muted">Editeur : </span>
                                        {% for editor in game.editor.all %}
                                        <a href="{{editor.web_site}}" class="card-link" target="_blank">{{ editor }}</a>
                                    {% endfor %}
                                    <p ><span class="card-subtitle text-muted">Année : </span> {{ game.year }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-date-add card-subtitle text-muted">Ajouté le {{ game.date_created }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

</div>
{#    <div class="container-fluid">#}
{#        <nav aria-label="...">#}
{#            <ul class="pagination">#}
{#                <li class="page-item disabled">#}
{##}
{#                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"#}
{#                           aria-disabled="true">Previous</a>#}
{##}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>#}
{#                <li class="page-item active" aria-current="page">#}
{#                    <a class="page-link" href="?page=2">2</a>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="?page=2">3</a></li>#}
{#                <li class="page-item">#}
{##}
{#                        <a class="?page={{ page_obj.next_page_number }}" href="#">Next</a>#}
{##}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}
    
{#----------------- PAGINATION -----------------------------------#}

        <div class="pagination">
            <div class="step-links">
                <div class="arrows-pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page=1"><i class="fas fa-fast-backward"></i></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-step-backward"></i></a>
                    {% endif %}
                </div>
                <div class="current">
                    <p>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p>
                </div>
                <div class="arrows-pagination">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }} "> <i class="fas fa-step-forward"></i></a>
                        <a href="?page={{ page_obj.paginator.num_pages }} "> <i class="fas fa-fast-forward"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}