{% extends 'base.html' %}
{% load cloudinary %}

{% block title %} Plato Solo - Accueil {% endblock %}
{% block content %}
<div class="last-content container-fluid">
    <div class="last-row row">

{#    --------------------  ACTUS --------------------------------#}

        <div class="last-news-col col-lg-5">
            <h5>DERNIERES ACTUS</h5>

            {% for news in news %}
                <div class="last-actus-cards container-fluid">

                    <div class="last-actus-card card" style="width: 30rem;">

                        <div class="card-header-news">
                            <div class="last-news-image">
                                <i class="bi bi-newspaper"></i>
                            </div>
                            <p class="card-title ">{{ news }}</p>
                        </div>

                        <div class="card-body">
                            {% if news.image %}>
                                <div class="last-actu-image">
                                    <img src="" class="img-fluid rounded-circle" alt="illustration jeu">
                                </div>
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ news.content|linebreaks|truncatewords:35 }}
                                    <a href="{% url 'details-news' news.id %}"> suite</a>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-date-add card-subtitle text-muted">Ajoutée le {{ news.date_created }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{#----------------------------------  JEUX ------------------------------------#}

            <div class="last-game-col col-lg-5">
                <h5>DERNIERS JEUX AJOUTES</h5>

                {% for game in games %}
                    <div class="last-games-cards container-fluid">

                        <div class="last-game-card card" style="width: 30rem;">

                            <div class="card-header-game">

                                <div class="last-game-image">
                                    <img src="{{ game.image.url }}" class="img-fluid rounded-circle"
                                         alt="illustration jeu">
                                </div>
                                <p class="card-title">{{ game }}</p>
                            </div>

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ game.description|linebreaks|truncatewords:20 }}

                                         <a href="{% url 'details-game' game.id %}"> suite</a>

                                    </li>
{#                                    <li class="list-group-item">#}
{#                                        <p><span#}
{#                                                class="card-subtitle text-muted">Auteur : </span> {{ game.display_author }}#}
{#                                        </p>#}
{##}
{#                                        <p><span class="card-subtitle text-muted">Editeur : </span>#}
{#                                            {% for editor in game.editor.all %}#}
{#                                                <a href="{{ editor.web_site }}" class="card-link">{{ editor }}</a>#}
{#                                            {% endfor %}#}
{#                                        <p><span class="card-subtitle text-muted">Année : </span> {{ game.year }}</p>#}
{#                                    </li>#}
                                    <li class="list-group-item">
                                        <p class="card-date-add card-subtitle text-muted">Ajouté
                                            le {{ game.date_created }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

</div>
{% endblock %}
