body {
    font-family: 'Ubuntu', sans-serif;
}


/*NAVBAR*/

.navbar {
    align-items: flex-end;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 1% 7%;
    background-color: white;
    height: 20vh;
}

.navbar a {
    color: #bababa
}

.navbar a:hover {
    color: #d1d1d1;
}
.navbar-toggler-icon {
    color: black;
}

.menu{
    justify-content: center;

}


/*ACCUEIL */

h5 {
    padding-top: 3%;
    text-align: center;
    color: #bdbdbd;
}

.last-content {
    padding: 3% 10%;
}

.last-row {
    justify-content: space-between;
}
.last-games-cards, .last-actus-cards {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.last-game-col, .last-news-col {
    height: 75vh;
    overflow-y: scroll;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header-news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-game {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-header-game, .card-header-news {

    font-weight: bold;
    background-color: #b8c8cc;
    color: #f2f2f2;
    vertical-align: center;
    padding: 2% 0 2% 4%;
}

.card-header-game h3 {
    margin: 0 0 0 5%;
    font-size: 2.5rem;
}
.card-header-news h4 {
    margin: 2% 0 2% 0;
}
.card-body  {
    padding: 0;
}
.last-game-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
}
.last-game-image, .last-library-image {
    display: flex;
    align-items: center;
    max-width: 20%;
    margin-right: 1%;
}


.card-date-add {
    font-size: 0.7rem;
    text-align: right;
}

/*LUDOTHEQUE*/

.library-content {
    display: flex;
    padding: 3% 10%;
}

.last-library-image {
    max-width: 10%;
}

.pagination {
    justify-content: center;
    padding-bottom: 5%;
}

.pagination i {
    font-size: 2rem;
    color: #b8c8cc;
}

.step-links {
    width: 15%;
    justify-content: space-between;
}
.current {
    vertical-align: center;
    padding: 1%;
}
.current p {
    margin: 0;
    color: #bababa;
}